<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Content/contact.css">
</head>
<div class="containers">
    <h2>Film Collection</h2>
    <img src="/Content/homeimg.png" alt="Film Collection Image" class="homepage-image">
    <p>Track your movie collection in an online database</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/movieslist" role="button">
        <i class="fa-solid fa-video"></i> Movies
      </a>
    </p>
  </div>
  
<%- include Partials/footer.ejs%>