/*This is the contatiner that contains the home page information. It is used to center the text 
so that is it neat*/
.containers {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    padding: 20px; 
}

/*Titles size and added some space below it*/
h2 {
    font-size: 2.5rem; 
    margin-bottom: 1rem; 
}

/*Sized the image so it fits nicely on the home page*/
.homepage-image {
    max-width: 300px; 
    height: auto; 
    margin: 1rem; 
    border-radius: 10px; 
}

/*Adjusts text size and some padding */
p {
    font-size: 1.2rem; 
    margin-bottom: 1.5rem; 
}

/*Added padding, changed the font size, rounded the edges of the button, the colour,
 text colour and hovering*/
.lead a {
    padding: 1.5rem;
    font-size: 1.1rem; 
    border-radius: 5px; 
    background-color: #007bff; 
    color: white; 
    transition: background-color 0.3s ease;
}
/*Hovering colour*/
.lead a:hover {
    background-color: #0056b3;
}
